---
import { SITE_NAME } from "../consts";
---

<footer class="site-footer">
	<p class="site-footer-tagline">READ INSTANTLY • PUBLISH SECURELY • DISTRIBUTE STRATEGICALLY</p>
	<p>&copy; 2026, {SITE_NAME} | Patent pending with USPTO | Credits: Project Gutenberg</p>
</footer>
